body{
	box-sizing: border-box;
}
.nav{
	width: 100%;
	border: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: purple;
	border-radius: 8px;
}
.title{
	font-size: 20px;
	font-width: bold;
	color: white;
}
.search_div{
	display: flex;
	align-items: center;
	justify-content: center;
}
#search_input{
	width: 180px;
	padding: 10px;
	border: 1px solid purple;
	border-radius: 8px 0 0 8px;
	color: purple;
}
#search_btn{
	padding: 10px;
	border: none;
	background-color: plum;
	font-weight: bold;
	border-radius: 0 8px 8px 0;
}
.nav_ul{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.nav_li, .nav_profile_li{
	border: none;
	background-color: plum;
	border-radius: 8px;
	width: 50px;
	text-align: center;
	padding: 10px;
	margin: 5px;
}
.nav_a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.nav_profile_li{
	position: relative;
}
.nav_profile_li:hover .profile_div{
	display: block;
}
.profile_div{
	background-color: purple;
	border-radius: 8px;
	position: absolute;
	padding: 10px;
	margin-top: 6px;
	margin-left: -10px;
	display: none;
}
.profile_ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.profile_li{
	padding: 10px 5px;
	width: 120px;
	border: none;
	background-color: white;
	color: purple;
	margin: 2.5px 0;
	border-radius: 8px;
}
.profile_a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.div_btn{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#login_btn, #logout_btn{
	width: 50%;
	padding: 5px;
	border-radius: 5px;
	border: none;
	background-color: plum;
	margin: 2.5px;
}
.div{
	width: 100%;
	display: flex;
	box-sizing: border-box;
}
.product_div{
	width: 50%;
	border: none;
	background-color: purple;
	border-radius: 8px;
	padding: 10px;
	margin: 5px;
}

.product_img_div{
	width: 100%;
	height: 452px;
	background-color: white;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product_img{
	max-width: 100%;
	width: auto;
	max-height: 452px;
	height: auto;
}

#add_cart_btn{
	width: 100%;
	border: none;
	border-radius: 8px;
	background-color: plum;
	color: purple;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}

.product_div0{
	width: 50%;
	border: none;
	background-color: purple;
	border-radius: 8px;
	padding: 10px;
	margin: 5px;
}

.product_info_div, .product_description_div{
	width: 100%;
	padding: 5px;
	border: none;
	background-color: plum;
	border-radius: 8px;
	box-sizing: border-box;
	margin: 5px 0;
}
.product_title_label, .product_price_label, .product_description_label{
	font-weight: bold;
	font-size: 18px;
}
.product_title_span, .product_price_span, .product_description_span{
	font-size: 18px;
}